[submodule "ise--y2--b3--project--collector"]
	path = ise--y2--b3--project--collector
	url = git@github.com:you/ise--y2--b3--project--collector.git
[submodule "ise--y2--b3--project--mobile-app"]
	path = ise--y2--b3--project--mobile-app
	url = git@github.com:you/ise--y2--b3--project--mobile-app.git
