[submodule "collector"]
	path = ise--y2--b3--project--collector
	url = git@github.com:mikeyfennelly1/cotccollector.git
[submodule "subscriber"]
	path = cotcsubscriber
	url = git@github.com:mikeyfennelly1/cotcsubscriber.git
[submodule "gui"]
	path = cotcgui
	url = git@github.com:mikeyfennelly1/cotcgui.git
[submodule "cli"]
	path = cotccli
	url = git@github.com:mikeyfennelly1/cotccli.git
[submodule "ise--y2--b3--project--android-app"]
	path = ise--y2--b3--project--android-app
	url = git@github.com:Nathan2589/ise--y2--b3--project--android-app.git
